<%= form_for(@setclose) do |f| %>
  <% if @setclose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setclose.errors.count, "error") %> prohibited this setclose from being saved:</h2>

      <ul>
      <% @setclose.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :close %><br />
    <%= f.text_field :close %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.number_field :volume %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
