<h1>Listing analyses</h1>

<%= paginate @analyses %>
<p>
<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Symbol</th>
    <th>Perc volume</th>
    <th>Close</th>
    <th>Change</th>
 </tr>

<% @analyses.each do |analysis| %>
  <tr>
    <td><%= analysis.date %></td>
    <td><%= analysis.time %></td>
    <td><%= link_to analysis.symbol, "/analyses/draw/#{analysis.symbol}/#{analysis.date}/#{analysis.time}" %></td>
    <td><%= analysis.perc_volume %></td>
    <td><%= analysis.close %></td>
    <td><%= analysis.change %></td>
  </tr>
<% end %>
</table>

<br />

<%# link_to 'New Analyse', new_analysis_path %>
